@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/***** General CSS *****/

body {
  word-break: break-word;
  font: 15px/25px 'Poppins', sans-serif;
  color: #393939;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #28b16d;
  white-space: initial;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #393939;
}

a:hover {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

img {
  max-width: 100%;
}

input[type="text"]:focus,
textarea:focus,
input[type="password"]:focus,
select:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  outline: none;
}

select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea,
input[type="tel"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;
}

p {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}


/***** Font Files *****/

@font-face {
  font-family: 'Fonts Awesome';
  src: url(../fonts/fontawesome-webfont.eot);
  src: url(../fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff) format("woff"), url(../fonts/fontawesome-webfont.ttf) format("truetype"), url(../fonts/fontawesome-webfont.svg#fontawesome-webfont) format("svg");
  font-weight: 400;
  font-style: normal
}


/***** Custom Classes *****/
.centerCol{ float: none; margin: 0 auto; }
.container{ width: 1486px; }
.noPadding {
  padding: 0;
}

.noLeft {
  padding-left: 0;
}

.noRight {
  padding-right: 0;
}

.centerCol {
  float: none;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding: 15px 40px;
  color: #fff;
  margin: 20px 20px 20px 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  text-transform: capitalize;
  border: 2px solid;
  text-transform: uppercase;
}

.btnGreen {
  background-color: #28b16d;
  color: #fff;
  border-color: #28b16d;
}

.btnGreen:focus,
.btnGreen:hover {
  background-color: #fff;
  color: #28b16d;
  border-color: #28b16d;
}

img.pull-left,
.imgOverlay.pull-left {
  margin: 0 30px 20px 0;
}

img.pull-right {
  margin: 0 0 20px 30px;
}

.flexRow {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.flexCol {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  align-items: center;
}

h1 {
  font-family: 'Poppins', Sans-Serif;
  font-size: 55px;
  line-height: 60px;
  color: #fff;
  font-weight: 500;
  margin: 0 0 17px;
}

h2 {
  font-family: 'Poppins', Sans-Serif;
  font-size: 55px;
  line-height: 60px;
  color: #393939;
  font-weight: 500;
  margin: 0 0 30px;
}

h3 {
  font-family: 'Poppins', Sans-Serif;
  font-size: 30px;
  line-height: 34px;
  color: #000000;
  font-weight: 600;
  margin: 0 0 28px;
}

h4 {
  font-family: 'Poppins', Sans-Serif;
  font-size: 24px;
  line-height: 29px;
  color: #393939;
  font-weight: 500;
  margin: 0 0 13px;
}

h5 {
  font-family: 'Poppins', Sans-Serif;
  font-size: 20px;
  line-height: 25px;
  color: #393939;
  font-weight: 500;
  margin: 0 0 20px;
}

h6 {
  font-family: 'Poppins', Sans-Serif;
  font-size: 18px;
  line-height: 23px;
  color: #393939;
  font-weight: 500;
  margin: 0 0 22px;
}
input[type="text"],
input[type="password"],
select,
input[type="email"],
input[type="url"],
input[type="number"],
textarea,
input[type="tel"] {
  border: 1px solid #be5004;
  background-color: #fff;
  font-size: 15px;
  line-height: 20px;
  color: #b64400;
  height: 54px;
  margin-bottom: 20px;
  width: 100%;
  padding: 0px 10px;
  border-radius: 16px;
  font-weight: 500;
}

textarea {
  padding: 10px;
  height: 167px;
}

input[type="submit"] {
  color: #fff;
  background-color: #33458d;
  height: 55px;
  padding: 0px 65px;
  font-size: 12px;
  line-height: 20px;
  border: 2px solid #33458d;
  border-radius: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 600;
}

input[type="submit"]:hover {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  background-color: #fff;
  color: #33458d;
  border-color: #33458d;
}

select {
  background: #fff url('../images/arrow.png') no-repeat right;
  padding: 0 40px 0 30px;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0 10px 20px 0;
}

::-webkit-input-placeholder {
  color: #575757;
}

::-moz-placeholder {
  color: #575757;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #575757;
}

:-moz-placeholder {
  color: #575757;
  opacity: 1;
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 10px 0;
}
.logo_main img{ width: 60%;  }
/*banner css start */
.main_slider {
    background:url(../images/banner.jpg) no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 10% 0% 7%;
    position: relative;
}
.banner_text h4 {
    font-size: 25px;
    line-height: 30px;
    color: #b64400;
    font-weight: 500;
    margin: 0 0 10px;
}

.banner_text h1 {
    font-size: 65px;
    line-height: 70px;
    color: #b64400;
    font-weight: 700;
    margin: 0 0 20px;
    width: 97%;
}
.banner_text p {
    font-weight: 500;
    font-size: 16px;
    color: #fbfbfb;
    line-height: 25px;
width: 81%;}


.form_main {
  background: #eeeeee;
  padding: 8% 4%;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  height: 100%;
position: relative;z-index: 5;}

.banner_text h1 {
  font-size: 50px;
  line-height: 70px;
  color: #ffffff;
  font-weight: 700;
  margin: 0 0 20px;
  width: 87%;
}
.banner_text h4 {
  font-size: 25px;
  line-height: 30px;
  color: #b64400;
  font-weight: 500;
  margin: 0 0 10px;
}

.banner_text {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.form_main h3 {
  font-family: "Poppins", Sans-Serif;
  font-size: 32px;
  line-height: 36px;
  color: #4f4f6f;
  font-weight: 700;

  text-transform: uppercase;
  
  
  
  margin: 0 auto 7px;
}

.form_main .btn {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  padding: 15px 20px;
  color: #fff;
  margin: 20px 20px 20px 0;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  text-transform: capitalize;
  border: 2px solid #b64400;
  text-transform: uppercase;
  width: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d17111+40,b64400+99 */
  background: #d17111; /* Old browsers */
  background: -moz-linear-gradient(left,  #d17111 40%, #b64400 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #d17111 40%,#b64400 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #d17111 40%,#b64400 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d17111', endColorstr='#b64400',GradientType=1 ); /* IE6-9 */

}
.form_main .btn:hover{ 
background: transparent;
color: #b64400;
  border: 2px solid #b64400;

 }


.form_main p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #888888;
margin: 0;}






.form_anchor a{     color: #574cf9;
 }
.form_anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.form_foot p a  {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #574cf9;
}



.form_main h5 {
    font-family: 'Poppins', Sans-Serif;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    font-weight: 600;
    margin: 0 0 20px;
}



/*step sec css start */
.step_1_img:hover img {
    transform: scale(0.9);
    transition: all ease-in-out 0.4s;

}
.step_1_img {
    background: url(../images/bg_1.png) no-repeat;
    background-size: contain;
    background-position: center;
    height: 366px;
    width: 434px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    transition: all 1s ease-in-out;
    overflow: hidden;
}

.step_1_img img {
    position: absolute;
    top: 85px;
    left: 174px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    width: 161px;
z-index: 5;height: 134px;}


.step_1_img a {
    position: absolute;
    bottom: 130px;
    left: 290px;
    
    font-size: 50px;
    height: 58px;
    width: 59px;
    background: #0000006e;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    z-index: 1;
}


.step_1 h4 {
    font-family: 'Poppins', Sans-Serif;
    font-size: 25px;
    line-height: 29px;
    color: #e89b31;
    font-weight: 600;
    margin: 0 0 10px;
}

.step_1 h5 {
    font-family: 'Poppins', Sans-Serif;
    font-size: 20px;
    line-height: 25px;
    color: #df9028;
    font-weight: 500;
    margin: 0 0 15px;
}


.step_1 ul li {
    font-size: 15px;
    color: #202020;
    line-height: 26px;
    font-weight: 600;
}


.step_1 {
    margin: 0 0 0 70px;
}

.step_sec{ padding:5% 0;  }



.step_1_img.step_2_img {
    background: url(../images/bg_2.png) no-repeat;
    background-size: contain;
    background-position: center;
    height: 366px;
    width: 454px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
left: -50px;}


.step_1_img.step_2_img img {
    position: absolute;
    top: 85px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    width: 161px;
    z-index: 5;
    height: 134px;
}

.step_1_img.step_2_img a {
    position: absolute;
    bottom: 119px;
    left: 170px;
    
    font-size: 50px;
    height: 58px;
    width: 59px;
    background: #0000006e;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    z-index: 1;
}

.step_1.step_2 h4 {
    color: #e16940;
}.step_1.step_2 h5 {
    color: #e16940;
}

.step_1.step_2 {
    margin: 0 0 0 0px;
    padding-left: 20px;
    position: absolute;
    left: 0;
    width: 27%;
    top: -130px;
}
.step_1.step_3 {
    margin: 0 0 0 0px;
    padding-left: 20px;
    position: absolute;
    right: 0;
    width: 25%;
    top: -132px;
text-align: right;}




.step_1_img.step_3_img {
    background: url(../images/bg_3.png) no-repeat;
    background-size: contain;
    background-position: center;
    height: 486px;
    width: 334px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
top: -140px;right: 20px;}


.step_1_img.step_3_img img {
    position: absolute;
    top: 265px;
    left: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    width: 161px;
    z-index: 5;
    height: 134px;
}

.step_1_img.step_3_img a {
    position: absolute;
    bottom: 80px;
    left: 180px;
    font-size: 50px;
    height: 58px;
    width: 59px;
    background: #0000006e;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    z-index: 1;
}

.text_row{ position: relative;}


.step_1.step_3 h4 {
    color: #45bfc8;
}


.step_1.step_3 h5 {

    color: #45bfc8;
}



/*  Features And Benefits Start  */
.main_feature {
  background: url("../images/benefit_bg.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 0;
}

.feature_head h3 {
  font-family: 'Poppins', Sans-Serif;
  font-size: 30px;
  line-height: 34px;
  color: #fff;
  font-weight: 600;
  margin: 0 0 40px;
  text-align: center;
  text-transform: capitalize;
}

.benefit_box1 {
  border: 1px solid #fff;
  padding: 30px 0 50px;
  border-radius: 10px;
  background: rgb(255 255 255 / 19%);
}

.benefit_box1 img {
  margin: 0 auto;
  display: table;
  width: 50%;
  
  
}

.benefit_box1 img:hover {
  transform: scale(0.9);
  transition: all ease-in-out 0.4s;
}

.benefit_box1:hover {
    background: #883403b8;
    transition: all ease-in-out 0.4s;
}

.benefit_box1 h4 {
  font-family: 'Poppins', Sans-Serif;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  font-weight: bold;
  margin: 20px 0 0;
  text-align: center;
}

.box1 {
  width: 65%;
  float: right;
  margin: 30px 0 0;
}

.box2 {
  width: 65%;
  float: left;
  margin: 30px 0 0;
}


/* Customer Are Saying */
.main_customer {
  padding: 5% 0;
}

.saying_head h5 {
  font-family: 'Poppins', Sans-Serif;
  font-size: 25px;
  line-height: 25px;
  color: #202020;
  font-weight: bold;
  margin: 0 0 40px;
  text-align: center;
}

.saying {
    border: 1px solid #fff;
    padding: 30px 20px 30px;
    box-shadow: 10px 30px 12px rgb(0 0 0 / 18%);
    margin: 13px 0 50px;
    min-height: 290px;
}

.test_img img {
  width: 20%;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
  margin-bottom: 14px;
}

.test_img h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #2290ff;
  font-weight: 600;
  margin: 0;
}

.test_content p {
  float: right;
  font-family: 'Roboto', sans-serif;
  color: #6e6e6e;
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
}

.test_content li {
  display: inline-block;
}

.test_content li a {
  color: #ffd700;
}

.customer_saying .slick-active {
  opacity: 1;
}

.customer_saying .slick-prev:before {
  content: '';
}

.customer_saying .slick-next:before {
  content: '';
}

.customer_saying .slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 30px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: url(../images/left_arrow.png);
  background-repeat: no-repeat;
}

.customer_saying .slick-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 33px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: url(../images/right_arrow.png);
  background-repeat: no-repeat;
  right: -30px;
  background-size: contain;
}
/* Download The App Css Start */
.main_download {
  padding: 5% 0;
}

.download_head {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
}

.download_head h3 {
  font-family: 'Poppins', Sans-Serif;
  font-size: 60px;
  line-height: 61px;
  color: #202021;
  font-weight: bold;
  margin: 0 0 28px;
  text-transform: capitalize;
  width: 90%;
}

.download_head h3 span {
  color: #b94400;
}

.download_head p {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 22px;
  width: 90%;
}

.download_head a {
  background: rgb(182, 68, 0);
  background: linear-gradient(270deg, rgba(182, 68, 0, 1) 0%, rgba(201, 99, 12, 1) 46%, rgba(209, 113, 17, 1) 100%);
  width: 40%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #b94400;
  text-transform: capitalize;
}

.download_head a:hover {
  background: transparent;
  color: #b94400;
}

.download_app {
  position: relative;
}

.down_img img {
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 530px;
  object-fit: scale-down;
}

.bigcircleimg4 img {
  
  
  
  
  z-index: -1;
  position: absolute;
  top: 50px;
  left: 0;
  margin: 0 auto;
  right: 0;
}

.bigcircleimg5 {
  background-position: center;
  background-color: #f9b42a;
  background-size: cover;
  background-repeat: no-repeat;
  width: 7%;
  height: 5%;
  z-index: -1;
  position: absolute;
  top: 50px;
  left: 20px;
  border-radius: 50px;
}

.bigcircleimg1 {
  background-position: center;
  background-color: #b94400;
  background-size: cover;
  background-repeat: no-repeat;
  width: 5%;
  height: 4%;
  z-index: -1;
  position: absolute;
  top: 70px;
  left: -10px;
  border-radius: 50px;
}

.phone_download img {
  position: absolute;
  bottom: 220px;
  right: 0;
  width: 46%;
}



.down_img {
    position: absolute;
    top: 0;
    left: 30px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.element {
  margin: 0;
  width: 540px;
  height: 540px;
  background: url(../images/down_triangle.png) no-repeat;

  -webkit-animation-name: spin;
  -webkit-animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 5000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 5000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-transition: rotate(3600deg);
  position: relative;
background-size: 88%;}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}





/* Our Video Css Start */
.our_head h2 {
  font-family: 'Poppins', Sans-Serif;
  font-size: 35px;
  line-height: 60px;
  color: #202020;
  font-weight: bold;
  margin: 0 0 10px;
  text-align: center;
  text-transform: capitalize;
}


.our_video {
  background: #efdad0;
  position: relative;
}

.our_1 img {
  width: 60%;
  height: auto;
  margin: 40px auto 0;
  display: table;
}

.our_1 {
  position: relative;
}

.our_icon {
  position: absolute;
  content: '';
  top: 50%;
  right: -30px;
  width: 90px;
}

.our_2 img {
  width: 100%;
}

.our_icon img {
  width: 60%;
  height: auto;
  margin: 0px auto;
  display: table;
}


/* contact us start  */

.more {
  padding: 5% 0 0;
}
.more_1 img {
  width: 100%;
  height: 380px;
}

.more_2 button:hover {
  background: transparent;
  color: #b64400;
  border: 1px solid #b64400;
}
.more_2 button {
  width: 30%;
  height: 45px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: 1px transparent;
  border-radius: 11px;

  background: linear-gradient(
    270deg,
    rgba(182, 68, 0, 1) 0%,
    rgb(201 99 10) 46%,
    rgba(209, 113, 17, 1) 100%
  );
}
.more_2 h1 {
  font-size: 28px;
  color: black;
  font-weight: 700;
  margin: 0;
  line-height: 46px;

  font-family: "Poppins", sans-serif;
}
.more_2 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 70%;
}
.more_2 li {
  color: #512500;
  font-size: 25px;
  font-weight: 400;
  margin: 13px 0 19px;

  font-family: "Poppins", sans-serif;
}
.more_2 li a {
  color: #512500;
  font-size: 24px;
  font-weight: 400;
}

/* contact us end  */
/* about moyen start  */
.about {
  padding: 5% 0;
}
.about_1 h1 {
  color: black;
  font-size: 36px;
  width: 82%;
  line-height: 43px;
  font-weight: 700;

  margin: 0 0 40px;
  font-family: "Poppins", sans-serif;
}
.about_1 p {
  margin: 0;
  color: #8c8a8a;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  width: 90%;
  font-family: "Poppins", sans-serif;
}
/*about moyen end  */

/* F,A,Q's start  */
.frequent_2 h5 {
  font-size: 19px;
  font-weight: 500;
  color: #bac2cc;
}

.frequent_2 li {
  color: #bac2cc;
  font-size: 15px;
  font-weight: 500;
  line-height: 29px;
}
.frequent {
  padding: 2% 0;
}

.frequent_1 h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #b64400;
  margin: 0 0 50px;
}

.frequent_2 .accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url(../images/plus_1.png);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.frequent_2 .accordion-button:not(.collapsed)::after {
  background-image: url(../images/minus_1.png);
  transform: rotate(-180deg);
  margin-top: -12px;
}

.frequent_2 .accordion-body p {
  padding: 1% 0px 0;
  color: #bac2cc;
  font-size: 14px;
  width: 83%;
  font-weight: 500;
  line-height: 27px;
}

.frequent_2 button.accordion-button.collapsed {
  border: 1px solid #eeeeee;
  margin: 10px 0 0;
  border-radius: 10px;
  padding: 0 20px;
  color: #636d79;
  font-size: 14px;
  font-weight: 400;
  background: #eeeeee;
  line-height: 23px;
  height: 55px;
  font-family: "Poppins", sans-serif;
}

.frequent_2 .accordion-item {
  background-color: #0000;
  border: none;
}

.frequent_2 .accordion-item:last-of-type .accordion-button.collapsed {
  margin: 12px 0;
  border-radius: 10px;
}

.frequent_2 .accordion-button:not(.collapsed) {
  background-color: #b64400;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
  padding: 0px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;
  height: 56px;
  line-height: 22px;
  margin: 8px 0;
  font-family: "Poppins", sans-serif;
}

.frequent_2 .accordion-button:focus {
  z-index: 3;
  border-color: #0000;
  outline: 0;
  box-shadow: none;
}

.frequent_2 .accordion-body {
  padding: 20px 10px 4px;
}

.frequent_2 {
  width: 100%;
}

.frequent_2 .accordion-item:first-of-type .accordion-button {
  border-radius: 10px;
}
.asked_1 h1 {
  font-size: 37px;
  color: black;
  font-weight: 600;
  width: 78%;
  line-height: 43px;
  font-family: "Poppins", sans-serif;
}
.asked_1 p {
  margin: 26px 0;
  color: #8c8a8a;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;

  font-family: "Poppins", sans-serif;
}
.asked_1 a {
  color: #b64400;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}
.asked_1 a::after {
  position: absolute;
  content: "";
  width: 91px;
  height: 4px;
  background-repeat: no-repeat;
  background-color: #b64400;
  bottom: -7px;
  left: 0;
}
.asked {
  padding: 5% 0;
}
/* F,A,Q's End  */
/* app foter start  */
.store {
  background-image: url(../images/MOYEN_BG1.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7% 0;
  background-position: center;
}

.store_1 h1 {
  font-family: "Poppins", Sans-Serif;
  font-size: 46px;
  line-height: 55px;
  color: #fff;
  font-weight: 600;
  margin: 0 0 14px;
  width: 45%;
}
.store_1 h4 {
  color: white;
  font-size: 22px;
  margin: 0px 0px 18px;
  font-weight: 300;
}
.store_1 img {
  width: 12%;
  height: auto;
}
/* app foter end  */



/*footer css start */

.down p {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  line-height: 27px;
  margin: 0 0 14px;
}
.down h4 {
  line-height: 29px;
  color: #ffffff;
  font-weight: 500;
  margin: 0 0 0px;
  font-size: 20px;
}

.download button {
  border: 0;
  background: transparent;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  border-radius: 6px;
  font-size: 18px;
  margin: 0 5px 0 0px;
  width: 45%;
  transition: all 0.5s ease-in-out;
}

.download button:hover {
}

.download button img {
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}
.down a {
  float: left;
}

.down a i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background: #b64400;
  border-radius: 6px;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

.down a i:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
  background: transparent;
}

.down a {
  float: left;
  margin-right: 20px;
}

.dual {
  background: #323232;
}

.inner_foot h5 {
  color: #ffffff;
  font-size: 14px;
  margin: 0 0 10px;
  line-height: 28px;
}

.inner_foot ul li a {
  font-size: 12px;
  color: #c7c7cd;
  line-height: 25px;
  display: block;
  position: relative;
}
.inner_foot ul li a img {
  position: absolute;
  left: -28px;
  top: 6px;
  width: 20px;
  height: 20px;
  object-fit: scale-down;
}
.inner_foot ul li a:hover {
  text-decoration: underline;
  transition: all 0.5s ease-in-out;
}
.inner_foot ul li {
  padding: 0 0 0;
  display: block;
}
.inner_foot ul li.what {
  margin: 0 0 0 26px;
}
.inner_foot {
  margin: 30px 0 0;
}

.payment h5,
.social_icon h5 {
  line-height: 25px;
  color: #ffffff;
  font-weight: 500;
  margin: 0 0 10px;
  font-size: 20px;
}

.social_icon ul li {
  display: inline-block;
  padding-right: 20px;
}

.social_icon ul li a {
  color: #ffffff;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
}

.social_icon ul li a:hover {
  color: #b64400;
}

.line hr {
  background-color: #ffffff;
}

.social_icon.img {
  text-align: center;
  padding: 10px 0;
}

.social_icon ul li a:hover img {
  filter: drop-shadow(2px 4px 6px black);
}

.social_icon ul li a img {
  height: 27px;
  object-fit: scale-down;
}

td.product-name {
  width: 17%;
  font-size: 12px;
  line-height: 20px;
}


.inner_foot.fifty ul {
    width: 50%;
    float: left;
}

.inner_foot.fifty ul li a{  }



.mobile{ display: none; }